.App {
  text-align: center;
}

* {
  font-family: cursive;
}

button {
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

table, th, td {
  border: 1px solid #282c34;
  border-collapse: collapse;
}
